## Introduction: why dplyr?

There are a _lot_ of amazing packages in the [Tidyverse](https://www.tidyverse.org/packages/), but `dplyr` is hands-down my absolute favorite package. I use `dplyr` when I'm cleaning and exploring my dataset, and what I particularly love is that after I get a good handle on my dataset with `dplyr`, I can feed the various manipulations I've creating into the `ggplot2` package for visualization.  

This tutorial is for anyone interested in learning the basics of the `dplyr` package. We'll be focusing on data exploration and manipulation, building off of the examples in the `dplyr` package documentation using the [Palmer Penguins](https://www.kaggle.com/parulpandey/palmer-archipelago-antarctica-penguin-data) dataset.   

**By the end of this notebook, you'll be able to:**  
* Demonstrate what each of the main five `dplyr` functions does
* Use the pipe operator `%>%` to chain together multiple `dplyr` functions

### My analytical workflow

We won't be covering _all_ of the steps in my workflow in this tutorial, but in general I follow these steps: 

1. Set up the programming environment by loading packages  
2. Import my data  
3. Check out my data 
4. Explore my data 
5. Model my data
6. Communicate what I've learned

## Set up our environment

In [1]:
# we have a couple of options here - we can load the entire tidyverse or we can just load the 
# tidyverse packages that we're interested in using. I'm going to load the tidyverse, but alternatively you
# could run the following instead:

#library(readr)
#library(dplyr)

# load the tidyverse
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

### A quick note on Conflicts

After running `library(tidyverse)` you might have noticed that the print out told us which packages were attached successfully (all of them, as evidenced by the green check marks), and where we have conflicts (the red x's).  

Conflicts aren't necessarily a bad thing! Because R is an open source language and anyone can create a package, it's common for different packages to use the same name for similar functions. In our conflicts we see that the `filter()` function from the `dplyr` package masks the `filter()` function from the `stats` package. We know this because the package name comes before the double colon and the function name comes after, like this:  

> `package::function()`

What if we want to use the `filter()` function from the stats package? All is not lost! What we can do in our code is use the full `package::function()` syntax and R will know to use the `filter()` function from the `stats` package instead of the `dplyr` package.

## Import our data

In [2]:
penguins <- read_csv('../input/palmer-archipelago-antarctica-penguin-data/penguins_size.csv')

Parsed with column specification:
cols(
  species = col_character(),
  island = col_character(),
  culmen_length_mm = col_double(),
  culmen_depth_mm = col_double(),
  flipper_length_mm = col_double(),
  body_mass_g = col_double(),
  sex = col_character()
)

### Parsing the parsing statement

One thing that took me awhile to get used to was that just because the text is in BRIGHT RED doesn't mean that something bad has happened, or that I've made a mistake. And that's the same as what we're seeing here!    

What the parsing statement does is tell us how R formatted each of the columns in our dataframe. The `read_csv()` function looks at the first thousand rows of a dataset and makes an educated guess as to what the remaining rows are. We can override this if we need to, either by telling R to use more rows to guess using the `guess_max` argument, or by explicitly telling R what type of data is in each column.

## Check out our data

Here's where I like to get a handle on what I'm working with. I'll use various functions to make sure my data imported correctly, and start to get an understanding of the data structure and data types. The functions I commonly use to accomplish this are:  

* `glimpse()`
* `head()` and `tail()`
* `summary()`

### glimpse() is grrrreat!

`glimpse()` gives you just about everything you could want, all wrapped up in a single function. We get our dataframe structure with the printout to rows and columns, telling us that in our `penguins` dataset we have 344 rows (or observations) and 7 columns (or variables).  

![](http://)We also see each of the variables listed out by name, followed by the data type `<datatype>`, and then a look at the first few rows of each variable.

In [3]:
glimpse(penguins)

Rows: 344
Columns: 7
$ species           <chr> "Adelie", "Adelie", "Adelie", "Adelie", "Adelie", "…
$ island            <chr> "Torgersen", "Torgersen", "Torgersen", "Torgersen",…
$ culmen_length_mm  <dbl> 39.1, 39.5, 40.3, NA, 36.7, 39.3, 38.9, 39.2, 34.1,…
$ culmen_depth_mm   <dbl> 18.7, 17.4, 18.0, NA, 19.3, 20.6, 17.8, 19.6, 18.1,…
$ flipper_length_mm <dbl> 181, 186, 195, NA, 193, 190, 181, 195, 193, 190, 18…
$ body_mass_g       <dbl> 3750, 3800, 3250, NA, 3450, 3650, 3625, 4675, 3475,…
$ sex               <chr> "MALE", "FEMALE", "FEMALE", NA, "FEMALE", "MALE", "…

### The heck is a culmen?

> I didn't know either, but [Allison Horst](https://twitter.com/allison_horst) has an amazing illustration explaining it!

![](https://pbs.twimg.com/media/EaAXQn8U4AAoKUj.jpg:small)

### head()

Before reading further (or running the code) take a second to think about what the `head()` function might return.  

If you guessed the "head" of the dataframe, or the first few rows, you'd be correct! I use `head()` to check a couple of things. First, I want to see if my data imported correctly. It's not uncommon to have the first few rows of a `.csv` file be blank, or contain information that I don't want in my final dataset. Second, `head()` prints out a nicely-formatted table that lets me take a quick look and see if the data is formatted consistently.  

Using `head()` and seeing that your data is formatted consistently isn't a guarantee that you won't run into problems later, but it's a great first check.

In [4]:
head(penguins)

  species island    culmen_length_mm culmen_depth_mm flipper_length_mm
1 Adelie  Torgersen 39.1             18.7            181
2 Adelie  Torgersen 39.5             17.4            186
3 Adelie  Torgersen 40.3             18.0            195
4 Adelie  Torgersen   NA               NA             NA
5 Adelie  Torgersen 36.7             19.3            193
6 Adelie  Torgersen 39.3             20.6            190
  body_mass_g sex
1 3750        MALE
2 3800        FEMALE
3 3250        FEMALE
4   NA        NA
5 3450        FEMALE
6 3650        MALE

### summary()

`summary()` might be one of the first functions I remember using and going "ooooh, this is pretty cool!" Like with the `head()` function, the name tells you what it does - any data that we pass to `summary()` will return a set of summary statistics appropriate for that datatype.  

We can send individual variables to `summary()`, or an entire dataframe, and get a quick idea of our data types, the spread of our data, and an idea of how much missing missing data we'll be dealing with.

In [5]:
summary(penguins)

   species             island          culmen_length_mm culmen_depth_mm
 Length:344         Length:344         Min.   :32.10    Min.   :13.10
 Class :character   Class :character   1st Qu.:39.23    1st Qu.:15.60
 Mode  :character   Mode  :character   Median :44.45    Median :17.30
                                       Mean   :43.92    Mean   :17.15
                                       3rd Qu.:48.50    3rd Qu.:18.70
                                       Max.   :59.60    Max.   :21.50
                                       NA's   :2        NA's   :2
 flipper_length_mm  body_mass_g       sex
 Min.   :172.0     Min.   :2700   Length:344
 1st Qu.:190.0     1st Qu.:3550   Class :character
 Median :197.0     Median :4050   Mode  :character
 Mean   :200.9     Mean   :4202
 3rd Qu.:213.0     3rd Qu.:4750
 Max.   :231.0     Max.   :6300
 NA's   :2         NA's   :2

### a note on names()

I have a really hard time remembering what the names of my variables are, and because R is case-sensitive, how the names are formatted. We could fix this by converting all of our variable names to the same case, but for now just know that if you ever need a refresher on the names of the variables in your dataset (and how they're formatted!) you can run `names()`, like this:

In [6]:
names(penguins)

[1] "species"           "island"            "culmen_length_mm"
[4] "culmen_depth_mm"   "flipper_length_mm" "body_mass_g"
[7] "sex"

## Exploring our data with dplyr

**Main functions we'll use**
* `arrange()`
* `filter()`
* `select()`
* `mutate()`
* `summarise()` (you can also use `summarize()`)

**Reading and writing R code**  
One thing that I really enjoy about working in R is that I can write out what I want to do in a sentence, and then translate that into code. For example, if I say:

> Take the penguins dataset and then filter for all penguins that live on Torgersen island

* _Take the penguins dataset_ **translates to** `penguins`
* _and then_ **translates to** `%>%`
* _filter for all penguins that live on Torgersen island_ **translates to** `filter(island == "Torgersen")`

We can then take these three lines and put them together to get the following:

In [7]:
penguins %>%
  filter(island == "Torgersen")

   species island    culmen_length_mm culmen_depth_mm flipper_length_mm
1  Adelie  Torgersen 39.1             18.7            181
2  Adelie  Torgersen 39.5             17.4            186
3  Adelie  Torgersen 40.3             18.0            195
4  Adelie  Torgersen   NA               NA             NA
5  Adelie  Torgersen 36.7             19.3            193
6  Adelie  Torgersen 39.3             20.6            190
7  Adelie  Torgersen 38.9             17.8            181
8  Adelie  Torgersen 39.2             19.6            195
9  Adelie  Torgersen 34.1             18.1            193
10 Adelie  Torgersen 42.0             20.2            190
11 Adelie  Torgersen 37.8             17.1            186
12 Adelie  Torgersen 37.8             17.3            180
13 Adelie  Torgersen 41.1             17.6            182
14 Adelie  Torgersen 38.6             21.2            191
15 Adelie  Torgersen 34.6             21.1            198
16 Adelie  Torgersen 36.6             17.8            185
17 Adelie  Torgersen 38.7             19.0            195
18 Adelie  Torgersen 42.5             20.7            197
19 Adelie  Torgersen 34.4             18.4            184
20 Adelie  Torgersen 46.0             21.5            194
21 Adelie  Torgersen 35.9             16.6            190
22 Adelie  Torgersen 41.8             19.4            198
23 Adelie  Torgersen 33.5             19.0            190
24 Adelie  Torgersen 39.7             18.4            190
25 Adelie  Torgersen 39.6             17.2            196
26 Adelie  Torgersen 45.8             18.9            197
27 Adelie  Torgersen 35.5             17.5            190
28 Adelie  Torgersen 42.8             18.5            195
29 Adelie  Torgersen 40.9             16.8            191
30 Adelie  Torgersen 37.2             19.4            184
31 Adelie  Torgersen 36.2             16.1            187
32 Adelie  Torgersen 42.1             19.1            195
33 Adelie  Torgersen 34.6             17.2            189
34 Adelie  Torgersen 42.9             17.6            196
35 Adelie  Torgersen 36.7             18.8            187
36 Adelie  Torgersen 35.1             19.4            193
37 Adelie  Torgersen 38.6             17.0            188
38 Adelie  Torgersen 37.3             20.5            199
39 Adelie  Torgersen 35.7             17.0            189
40 Adelie  Torgersen 41.1             18.6            189
41 Adelie  Torgersen 36.2             17.2            187
42 Adelie  Torgersen 37.7             19.8            198
43 Adelie  Torgersen 40.2             17.0            176
44 Adelie  Torgersen 41.4             18.5            202
45 Adelie  Torgersen 35.2             15.9            186
46 Adelie  Torgersen 40.6             19.0            199
47 Adelie  Torgersen 38.8             17.6            191
48 Adelie  Torgersen 41.5             18.3            195
49 Adelie  Torgersen 39.0             17.1            191
50 Adelie  Torgersen 44.1             18.0            210
51 Adelie  Torgersen 38.5             17.9            190
52 Adelie  Torgersen 43.1             19.2            197
   body_mass_g sex
1  3750        MALE
2  3800        FEMALE
3  3250        FEMALE
4    NA        NA
5  3450        FEMALE
6  3650        MALE
7  3625        FEMALE
8  4675        MALE
9  3475        NA
10 4250        NA
11 3300        NA
12 3700        NA
13 3200        FEMALE
14 3800        MALE
15 4400        MALE
16 3700        FEMALE
17 3450        FEMALE
18 4500        MALE
19 3325        FEMALE
20 4200        MALE
21 3050        FEMALE
22 4450        MALE
23 3600        FEMALE
24 3900        MALE
25 3550        FEMALE
26 4150        MALE
27 3700        FEMALE
28 4250        MALE
29 3700        FEMALE
30 3900        MALE
31 3550        FEMALE
32 4000        MALE
33 3200        FEMALE
34 4700        MALE
35 3800        FEMALE
36 4200        MALE
37 2900        FEMALE
38 3775        MALE
39 3350        FEMALE
40 3325        MALE
41 3150        FEMALE
42 3500        MALE
43 3450        FEMALE
44 3875        MALE
45 3050        FEMALE
46 4000        MALE
47 3275        FEMALE
48 4300        MALE
49 3050        FEMALE
50 4000        MALE
51 3325        FEMALE
52 3500        MALE

### Wait what the heck is %>%?

`%>%` is the pipe operator, and it allows us to push our data through sequential functions in R. Much like we use the words "and then" to describe instructions or steps on how to do something, `%>%` acts like an "and then" statement between functions.  

We can take the code we wrote above _and then_ add a function we've already used, `head()` to print out a much shorter table, like this:

In [8]:
penguins %>%
  filter(island == "Torgersen") %>%
  head()

  species island    culmen_length_mm culmen_depth_mm flipper_length_mm
1 Adelie  Torgersen 39.1             18.7            181
2 Adelie  Torgersen 39.5             17.4            186
3 Adelie  Torgersen 40.3             18.0            195
4 Adelie  Torgersen   NA               NA             NA
5 Adelie  Torgersen 36.7             19.3            193
6 Adelie  Torgersen 39.3             20.6            190
  body_mass_g sex
1 3750        MALE
2 3800        FEMALE
3 3250        FEMALE
4   NA        NA
5 3450        FEMALE
6 3650        MALE

So let's get to it! In this section we'll go through a couple of examples with each of the individual `dplyr` functions, and then start combining them to do some powerful data manipulations!

## Applying arrange()

`arrange()` "arranges," or organizes, our data in _ascending_ order, starting from the lowest value and running to the highest (or in the case of character data, in alphabetical order).  

We can provide a single argument to the `arrange()` function, such as `culmen_length_mm` (double) or `species` (character).

In [9]:
# numeric data 
# I've added the head() function to the end of the function chain to reduce the length of the table that's printed out
# you can remove it in your version!

penguins %>%
  arrange(culmen_length_mm) %>%
  head()

  species island    culmen_length_mm culmen_depth_mm flipper_length_mm
1 Adelie  Dream     32.1             15.5            188
2 Adelie  Dream     33.1             16.1            178
3 Adelie  Torgersen 33.5             19.0            190
4 Adelie  Dream     34.0             17.1            185
5 Adelie  Torgersen 34.1             18.1            193
6 Adelie  Torgersen 34.4             18.4            184
  body_mass_g sex
1 3050        FEMALE
2 2900        FEMALE
3 3600        FEMALE
4 3400        FEMALE
5 3475        NA
6 3325        FEMALE

In [10]:
# character data

penguins %>%
  arrange(species)

    species island    culmen_length_mm culmen_depth_mm flipper_length_mm
1   Adelie  Torgersen 39.1             18.7            181
2   Adelie  Torgersen 39.5             17.4            186
3   Adelie  Torgersen 40.3             18.0            195
4   Adelie  Torgersen   NA               NA             NA
5   Adelie  Torgersen 36.7             19.3            193
6   Adelie  Torgersen 39.3             20.6            190
7   Adelie  Torgersen 38.9             17.8            181
8   Adelie  Torgersen 39.2             19.6            195
9   Adelie  Torgersen 34.1             18.1            193
10  Adelie  Torgersen 42.0             20.2            190
11  Adelie  Torgersen 37.8             17.1            186
12  Adelie  Torgersen 37.8             17.3            180
13  Adelie  Torgersen 41.1             17.6            182
14  Adelie  Torgersen 38.6             21.2            191
15  Adelie  Torgersen 34.6             21.1            198
16  Adelie  Torgersen 36.6             17.8            185
17  Adelie  Torgersen 38.7             19.0            195
18  Adelie  Torgersen 42.5             20.7            197
19  Adelie  Torgersen 34.4             18.4            184
20  Adelie  Torgersen 46.0             21.5            194
21  Adelie  Biscoe    37.8             18.3            174
22  Adelie  Biscoe    37.7             18.7            180
23  Adelie  Biscoe    35.9             19.2            189
24  Adelie  Biscoe    38.2             18.1            185
25  Adelie  Biscoe    38.8             17.2            180
26  Adelie  Biscoe    35.3             18.9            187
27  Adelie  Biscoe    40.6             18.6            183
28  Adelie  Biscoe    40.5             17.9            187
29  Adelie  Biscoe    37.9             18.6            172
30  Adelie  Biscoe    40.5             18.9            180
⋮   ⋮       ⋮         ⋮                ⋮               ⋮
315 Gentoo  Biscoe    44.5             14.7            214
316 Gentoo  Biscoe    50.8             15.7            226
317 Gentoo  Biscoe    49.4             15.8            216
318 Gentoo  Biscoe    46.9             14.6            222
319 Gentoo  Biscoe    48.4             14.4            203
320 Gentoo  Biscoe    51.1             16.5            225
321 Gentoo  Biscoe    48.5             15.0            219
322 Gentoo  Biscoe    55.9             17.0            228
323 Gentoo  Biscoe    47.2             15.5            215
324 Gentoo  Biscoe    49.1             15.0            228
325 Gentoo  Biscoe    47.3             13.8            216
326 Gentoo  Biscoe    46.8             16.1            215
327 Gentoo  Biscoe    41.7             14.7            210
328 Gentoo  Biscoe    53.4             15.8            219
329 Gentoo  Biscoe    43.3             14.0            208
330 Gentoo  Biscoe    48.1             15.1            209
331 Gentoo  Biscoe    50.5             15.2            216
332 Gentoo  Biscoe    49.8             15.9            229
333 Gentoo  Biscoe    43.5             15.2            213
334 Gentoo  Biscoe    51.5             16.3            230
335 Gentoo  Biscoe    46.2             14.1            217
336 Gentoo  Biscoe    55.1             16.0            230
337 Gentoo  Biscoe    44.5             15.7            217
338 Gentoo  Biscoe    48.8             16.2            222
339 Gentoo  Biscoe    47.2             13.7            214
340 Gentoo  Biscoe      NA               NA             NA
341 Gentoo  Biscoe    46.8             14.3            215
342 Gentoo  Biscoe    50.4             15.7            222
343 Gentoo  Biscoe    45.2             14.8            212
344 Gentoo  Biscoe    49.9             16.1            213
    body_mass_g sex
1   3750        MALE
2   3800        FEMALE
3   3250        FEMALE
4     NA        NA
5   3450        FEMALE
6   3650        MALE
7   3625        FEMALE
8   4675        MALE
9   3475        NA
10  4250        NA
11  3300        NA
12  3700        NA
13  3200        FEMALE
14  3800        MALE
15  4400        MALE
16  3700        FEMALE
17  3450        FEMALE
18  4500        MALE
19  3325        FEMALE
20  4200        MALE
21  3400        FEMALE
22  3600        MALE
23  3800        FEMALE
24  3950        MALE
25  3800        MALE
26  3800        FEMALE
27  3550        MALE
28  3200        FEMALE
29  3150        FEMALE
30  3950        MALE
⋮   ⋮           ⋮
315 4850        FEMALE
316 5200        MALE
317 4925        MALE
318 4875        FEMALE
319 4625        FEMALE
320 5250        MALE
321 4850        FEMALE
322 5600        MALE
323 4975        FEMALE
324 5500        MALE
325 4725        NA
326 5500        MALE
327 4700        FEMALE
328 5500        MALE
329 4575        FEMALE
330 5500        MALE
331 5000        FEMALE
332 5950        MALE
333 4650        FEMALE
334 5500        MALE
335 4375        FEMALE
336 5850        MALE
337 4875        .
338 6000        MALE
339 4925        FEMALE
340   NA        NA
341 4850        FEMALE
342 5750        MALE
343 5200        FEMALE
344 5400        MALE

### Creating a subset

It's a little hard to see what's going on in the above table, so I'm going to create a smaller subset of the `penguins` dataset so that we can see what's going on a bit more clearly. You can run the code on the subset of the data, or replace `penguins_subset` with `penguins` to see what happens on the full dataset!

In [11]:
# creating a random subset of the penguins dataset
set.seed(406)

penguins_subset <- penguins %>%
  sample_n(12)  # another dplyr function!

penguins_subset

   species   island    culmen_length_mm culmen_depth_mm flipper_length_mm
1  Adelie    Torgersen 41.4             18.5            202
2  Chinstrap Dream     50.1             17.9            190
3  Gentoo    Biscoe    50.5             15.9            222
4  Chinstrap Dream     49.0             19.6            212
5  Chinstrap Dream     43.5             18.1            202
6  Gentoo    Biscoe    51.5             16.3            230
7  Adelie    Biscoe    40.5             17.9            187
8  Gentoo    Biscoe    43.5             15.2            213
9  Adelie    Dream     36.3             19.5            190
10 Adelie    Torgersen 39.0             17.1            191
11 Adelie    Biscoe    41.6             18.0            192
12 Gentoo    Biscoe    47.6             14.5            215
   body_mass_g sex
1  3875        MALE
2  3400        FEMALE
3  5550        MALE
4  4300        MALE
5  3400        FEMALE
6  5500        MALE
7  3200        FEMALE
8  4650        FEMALE
9  3800        MALE
10 3050        FEMALE
11 3950        MALE
12 5400        MALE

In [12]:
# let's re-run the arrange() function on character data in the penguins_subset data

penguins_subset %>%
  arrange(species)

   species   island    culmen_length_mm culmen_depth_mm flipper_length_mm
1  Adelie    Torgersen 41.4             18.5            202
2  Adelie    Biscoe    40.5             17.9            187
3  Adelie    Dream     36.3             19.5            190
4  Adelie    Torgersen 39.0             17.1            191
5  Adelie    Biscoe    41.6             18.0            192
6  Chinstrap Dream     50.1             17.9            190
7  Chinstrap Dream     49.0             19.6            212
8  Chinstrap Dream     43.5             18.1            202
9  Gentoo    Biscoe    50.5             15.9            222
10 Gentoo    Biscoe    51.5             16.3            230
11 Gentoo    Biscoe    43.5             15.2            213
12 Gentoo    Biscoe    47.6             14.5            215
   body_mass_g sex
1  3875        MALE
2  3200        FEMALE
3  3800        MALE
4  3050        FEMALE
5  3950        MALE
6  3400        FEMALE
7  4300        MALE
8  3400        FEMALE
9  5550        MALE
10 5500        MALE
11 4650        FEMALE
12 5400        MALE

### Nesting desc() inside arrange()

What if we don't want our data in ascending order? Then we can nest the `desc()` function, which stands for _descending_, within the `arrange()` function. This will then order our numeric data from highest to lowest, and our character data in reverse alphabetical order.

In [13]:
# numeric data arranged in descending order

penguins_subset %>%
  arrange(desc(culmen_length_mm))

   species   island    culmen_length_mm culmen_depth_mm flipper_length_mm
1  Gentoo    Biscoe    51.5             16.3            230
2  Gentoo    Biscoe    50.5             15.9            222
3  Chinstrap Dream     50.1             17.9            190
4  Chinstrap Dream     49.0             19.6            212
5  Gentoo    Biscoe    47.6             14.5            215
6  Chinstrap Dream     43.5             18.1            202
7  Gentoo    Biscoe    43.5             15.2            213
8  Adelie    Biscoe    41.6             18.0            192
9  Adelie    Torgersen 41.4             18.5            202
10 Adelie    Biscoe    40.5             17.9            187
11 Adelie    Torgersen 39.0             17.1            191
12 Adelie    Dream     36.3             19.5            190
   body_mass_g sex
1  5500        MALE
2  5550        MALE
3  3400        FEMALE
4  4300        MALE
5  5400        MALE
6  3400        FEMALE
7  4650        FEMALE
8  3950        MALE
9  3875        MALE
10 3200        FEMALE
11 3050        FEMALE
12 3800        MALE

In [14]:
# character data arranged in descending - reverse alphabetical - order

penguins_subset %>%
  arrange(desc(species))

   species   island    culmen_length_mm culmen_depth_mm flipper_length_mm
1  Gentoo    Biscoe    50.5             15.9            222
2  Gentoo    Biscoe    51.5             16.3            230
3  Gentoo    Biscoe    43.5             15.2            213
4  Gentoo    Biscoe    47.6             14.5            215
5  Chinstrap Dream     50.1             17.9            190
6  Chinstrap Dream     49.0             19.6            212
7  Chinstrap Dream     43.5             18.1            202
8  Adelie    Torgersen 41.4             18.5            202
9  Adelie    Biscoe    40.5             17.9            187
10 Adelie    Dream     36.3             19.5            190
11 Adelie    Torgersen 39.0             17.1            191
12 Adelie    Biscoe    41.6             18.0            192
   body_mass_g sex
1  5550        MALE
2  5500        MALE
3  4650        FEMALE
4  5400        MALE
5  3400        FEMALE
6  4300        MALE
7  3400        FEMALE
8  3875        MALE
9  3200        FEMALE
10 3800        MALE
11 3050        FEMALE
12 3950        MALE

## Fun with filter()

`filter()` is probably one of my most used functions, because it allows me to look at subsets quickly and easily. What's nice about `filter()` is its flexibility - we can use it on a single condition or multiple conditions.

In [15]:
# filter with a single numeric condition

penguins_subset %>%
  filter(culmen_depth_mm > 16.2)

  species   island    culmen_length_mm culmen_depth_mm flipper_length_mm
1 Adelie    Torgersen 41.4             18.5            202
2 Chinstrap Dream     50.1             17.9            190
3 Chinstrap Dream     49.0             19.6            212
4 Chinstrap Dream     43.5             18.1            202
5 Gentoo    Biscoe    51.5             16.3            230
6 Adelie    Biscoe    40.5             17.9            187
7 Adelie    Dream     36.3             19.5            190
8 Adelie    Torgersen 39.0             17.1            191
9 Adelie    Biscoe    41.6             18.0            192
  body_mass_g sex
1 3875        MALE
2 3400        FEMALE
3 4300        MALE
4 3400        FEMALE
5 5500        MALE
6 3200        FEMALE
7 3800        MALE
8 3050        FEMALE
9 3950        MALE

In [16]:
# filter with a single character condition

penguins_subset %>%
  filter(island == "Dream")

  species   island culmen_length_mm culmen_depth_mm flipper_length_mm
1 Chinstrap Dream  50.1             17.9            190
2 Chinstrap Dream  49.0             19.6            212
3 Chinstrap Dream  43.5             18.1            202
4 Adelie    Dream  36.3             19.5            190
  body_mass_g sex
1 3400        FEMALE
2 4300        MALE
3 3400        FEMALE
4 3800        MALE

In [17]:
# filter with a single numeric condition between two values

penguins_subset %>%
  filter(between(culmen_depth_mm, 16.2, 18.1 ))

  species   island    culmen_length_mm culmen_depth_mm flipper_length_mm
1 Chinstrap Dream     50.1             17.9            190
2 Chinstrap Dream     43.5             18.1            202
3 Gentoo    Biscoe    51.5             16.3            230
4 Adelie    Biscoe    40.5             17.9            187
5 Adelie    Torgersen 39.0             17.1            191
6 Adelie    Biscoe    41.6             18.0            192
  body_mass_g sex
1 3400        FEMALE
2 3400        FEMALE
3 5500        MALE
4 3200        FEMALE
5 3050        FEMALE
6 3950        MALE

## Starting with select()

`select()` allows us to pick which columns (variables) we want to look at, and we can use it to pull a subset of variables, or even rearrange the order of our variables within a dataframe.

In [18]:
# selecting species, flipper_length_mm, and sex columns

penguins_subset %>%
  select(species, flipper_length_mm, sex)

   species   flipper_length_mm sex
1  Adelie    202               MALE
2  Chinstrap 190               FEMALE
3  Gentoo    222               MALE
4  Chinstrap 212               MALE
5  Chinstrap 202               FEMALE
6  Gentoo    230               MALE
7  Adelie    187               FEMALE
8  Gentoo    213               FEMALE
9  Adelie    190               MALE
10 Adelie    191               FEMALE
11 Adelie    192               MALE
12 Gentoo    215               MALE

In [19]:
# selecting all character data

penguins_subset %>%
  select(where(is.character))

   species   island    sex
1  Adelie    Torgersen MALE
2  Chinstrap Dream     FEMALE
3  Gentoo    Biscoe    MALE
4  Chinstrap Dream     MALE
5  Chinstrap Dream     FEMALE
6  Gentoo    Biscoe    MALE
7  Adelie    Biscoe    FEMALE
8  Gentoo    Biscoe    FEMALE
9  Adelie    Dream     MALE
10 Adelie    Torgersen FEMALE
11 Adelie    Biscoe    MALE
12 Gentoo    Biscoe    MALE

In [20]:
# selecting all numeric data

penguins_subset %>%
  select(where(is.numeric))

   culmen_length_mm culmen_depth_mm flipper_length_mm body_mass_g
1  41.4             18.5            202               3875
2  50.1             17.9            190               3400
3  50.5             15.9            222               5550
4  49.0             19.6            212               4300
5  43.5             18.1            202               3400
6  51.5             16.3            230               5500
7  40.5             17.9            187               3200
8  43.5             15.2            213               4650
9  36.3             19.5            190               3800
10 39.0             17.1            191               3050
11 41.6             18.0            192               3950
12 47.6             14.5            215               5400

In [21]:
# selecting all character data by using "where not numeric" data

penguins_subset %>%
  select(!where(is.numeric))

   species   island    sex
1  Adelie    Torgersen MALE
2  Chinstrap Dream     FEMALE
3  Gentoo    Biscoe    MALE
4  Chinstrap Dream     MALE
5  Chinstrap Dream     FEMALE
6  Gentoo    Biscoe    MALE
7  Adelie    Biscoe    FEMALE
8  Gentoo    Biscoe    FEMALE
9  Adelie    Dream     MALE
10 Adelie    Torgersen FEMALE
11 Adelie    Biscoe    MALE
12 Gentoo    Biscoe    MALE

## Math with mutate()

What's not to love about a function that let's us create new columns (variables)?! For these examples we'll work strictly with `mutate()`, but when you work on extending this notebook, try using `group_by()` and _then_ `mutate()`! (We'll talk about `group_by()` in the next section.)

In [22]:
# converting grams to pounds
# notice how the order of our columns stays the same, and the new column, body_weight_pounds, gets placed at the 
# far right of the dataframe. what function could we use to change this order?

penguins_subset %>%
  mutate(body_weight_pounds = body_mass_g / 453.59237)

   species   island    culmen_length_mm culmen_depth_mm flipper_length_mm
1  Adelie    Torgersen 41.4             18.5            202
2  Chinstrap Dream     50.1             17.9            190
3  Gentoo    Biscoe    50.5             15.9            222
4  Chinstrap Dream     49.0             19.6            212
5  Chinstrap Dream     43.5             18.1            202
6  Gentoo    Biscoe    51.5             16.3            230
7  Adelie    Biscoe    40.5             17.9            187
8  Gentoo    Biscoe    43.5             15.2            213
9  Adelie    Dream     36.3             19.5            190
10 Adelie    Torgersen 39.0             17.1            191
11 Adelie    Biscoe    41.6             18.0            192
12 Gentoo    Biscoe    47.6             14.5            215
   body_mass_g sex    body_weight_pounds
1  3875        MALE    8.542913
2  3400        FEMALE  7.495717
3  5550        MALE   12.235656
4  4300        MALE    9.479877
5  3400        FEMALE  7.495717
6  5500        MALE   12.125424
7  3200        FEMALE  7.054792
8  4650        FEMALE 10.251495
9  3800        MALE    8.377566
10 3050        FEMALE  6.724099
11 3950        MALE    8.708259
12 5400        MALE   11.904962

In [23]:
# OK I wanted to show you how to combine select and mutate
# what do you think the everything() function might do? confirm your guess by looking at the documentation (linked at 
# the end of the notebook).

penguins_subset %>%
  mutate(body_weight_pounds = body_mass_g / 453.59237) %>%
  select(species, body_mass_g, body_weight_pounds, everything())

   species   body_mass_g body_weight_pounds island    culmen_length_mm
1  Adelie    3875         8.542913          Torgersen 41.4
2  Chinstrap 3400         7.495717          Dream     50.1
3  Gentoo    5550        12.235656          Biscoe    50.5
4  Chinstrap 4300         9.479877          Dream     49.0
5  Chinstrap 3400         7.495717          Dream     43.5
6  Gentoo    5500        12.125424          Biscoe    51.5
7  Adelie    3200         7.054792          Biscoe    40.5
8  Gentoo    4650        10.251495          Biscoe    43.5
9  Adelie    3800         8.377566          Dream     36.3
10 Adelie    3050         6.724099          Torgersen 39.0
11 Adelie    3950         8.708259          Biscoe    41.6
12 Gentoo    5400        11.904962          Biscoe    47.6
   culmen_depth_mm flipper_length_mm sex
1  18.5            202               MALE
2  17.9            190               FEMALE
3  15.9            222               MALE
4  19.6            212               MALE
5  18.1            202               FEMALE
6  16.3            230               MALE
7  17.9            187               FEMALE
8  15.2            213               FEMALE
9  19.5            190               MALE
10 17.1            191               FEMALE
11 18.0            192               MALE
12 14.5            215               MALE

## Summaries with summarise(), with help from group_by()

You can use either `summarise()` or `summarize()` to get a summary, or overview, of your data. What's more, once we introduce `group_by()` you can get summary data for _subsets_ of your data.

In [24]:
# summarising the average body mass of penguins, in grams

penguins_subset %>%
  summarise(avg_body_mass = mean(body_mass_g))

  avg_body_mass
1 4172.917

In [25]:
# since we're now summarising our data we can go ahead and use the full dataframe, since the printout will be reasonably-sized

penguins %>%
  summarise(avg_body_mass = mean(body_mass_g))

  avg_body_mass
1 NA

### The NAs!

If we don't handle our `NA` values we're going to be in for a bad time. There are multiple ways of dealing with `NA` values in R - for now we're going to use `na.rm = TRUE`, but you could use `filter()` from the `dplyr` package or `drop_na()` from the `tidyr` package as well!  

`na.rm` is like asking the question, "Should we remove `NA`s from our code?" where `na` stands for `NA` values, and `rm` stands for remove. So when we set `na.rm = TRUE` we're saying "Yes, please remove `NA` values from my calculations." Likewise if we use `na.rm = FALSE` we're telling R that we want to include `NA` values in our calculations.  

And if you're not sure, `NA` stands for "Not Available," meaning data that is missing.

In [26]:
# summarising body mass on the entire penguins dataset while removing NA values from the calculation

penguins %>%
  summarise(avg_body_mass = mean(body_mass_g, na.rm = TRUE))

  avg_body_mass
1 4201.754

In [27]:
# now let's use the grouping function, group_by(), to look at the average body mass of penguins, in grams,
# by species

penguins %>%
  group_by(species) %>%
  summarise(avg_species_body_mass = mean(body_mass_g, na.rm = TRUE))

`summarise()` ungrouping output (override with `.groups` argument)

  species   avg_species_body_mass
1 Adelie    3700.662
2 Chinstrap 3733.088
3 Gentoo    5076.016

In [28]:
# now let's calculate the average body mass by species AND island

penguins %>%
  group_by(species, island) %>%
  summarise(avg_species_body_mass = mean(body_mass_g, na.rm = TRUE))

`summarise()` regrouping output by 'species' (override with `.groups` argument)

  species   island    avg_species_body_mass
1 Adelie    Biscoe    3709.659
2 Adelie    Dream     3688.393
3 Adelie    Torgersen 3706.373
4 Chinstrap Dream     3733.088
5 Gentoo    Biscoe    5076.016

## Where to next?

What we've done here only scratches the surface of what you can accomplish with `dplyr`. `dplyr` is a powerful package in its own right, but even more so once you dive into column-wise operations, like `across()`, as well as combine it with other packages in the Tidyverse, such as `purrr` and `ggplot2`.  

What I recommend is making a copy of this notebook and running the cells to ensure you understand what's happening with each function, and then build out additional chains of `dplyr` functions to see what you can discover and learn! Play around and don't worry about making mistakes - it's all part of learning!   

These are some helpful resources to get you started:  

* [`dplyr` documentation - so many functions!](https://dplyr.tidyverse.org/reference/index.html)
* [R for Data Science text](https://r4ds.had.co.nz/transform.html)
* [STAT545](https://stat545.com/)
* [More on column-wise operations](https://dplyr.tidyverse.org/articles/colwise.html)